<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @post do %>
  <%= render @post %>
<% end %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), data: { turbo_frame: dom_id(@post) } %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<h3>Comments</h3>


<%= turbo_frame_tag dom_id(@post, :comments) do %>
  <%= render partial: 'comments/comment', collection: @post.comments, as: :comment %>
<% end %>

<%= turbo_frame_tag @comment do %>
  <%= render 'comments/form', post: @post, comment: @post.comments.new %>
<% end %>
